<mat-card *ngIf="hero">
  <mat-card-title>{{hero.name | uppercase}} Details</mat-card-title>
  <p>id:<span>{{hero.id}}</span></p>
  <div>
    <label for="hero-name">Hero name: </label>
    <input id="hero-name" [(ngModel)]="hero.name" placeholder="Hero name" />
  </div>
  <mat-card-actions>
    <button type="button" mat-button color="basic" (click)="goBack()">Go Back</button>
    <button type="button" mat-flat-button color="primary" (click)="save()">Save Hero</button>
  </mat-card-actions>
</mat-card>
