<div class="card" *ngIf="hero">
  <h3 class="card-header mb-0">{{hero.name | uppercase}} Details</h3>
  <div class="card-body">
    <p>id:<span>{{hero.id}}</span></p>
    <div class="mb-3">
      <label class="form-label" for="hero-name">Hero name: </label>
      <input class="form-control" id="hero-name" [(ngModel)]="hero.name" placeholder="Hero name" />
    </div>
    <div class="d-flex">
      <button type="button" class="btn btn-light me-2" (click)="goBack()">Go Back</button>
      <button type="button" class="btn btn-secondary" (click)="save()">Save Hero</button>
    </div>
  </div>
</div>
