<mat-card>
  <mat-card-title>Add Heroes</mat-card-title>
  <form>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label for="new-hero">New Hero's name: </mat-label>
      <input matInput id="new-hero" #heroName>
    </mat-form-field>
  </form>
  <!-- (click) passes input value to add() and then clears the input -->
  <button mat-button color="primary" type="button" class="add-button"
  (click)="add(heroName.value); heroName.value=''">Save</button>
</mat-card>

<mat-list *ngFor="let hero of heroes" class="heroesList">
  <mat-list-item>
    <div class="btnList">
      <a mat-button routerLink="/detail/{{hero.id}}">
        <span class="heroId">{{hero.id}}</span>
        <span class="heroName">{{hero.name}}</span>
      </a>
      <button type="button" mat-mini-fab color="warn"
        aria-label="Example icon button with a filter list icon"
        (click)="delete(hero)">X</button>
    </div>
    <mat-divider></mat-divider>
  </mat-list-item>
</mat-list>


